{%extends "AttendanceTracker/layout.html"%}
{%block body%}

{%load get_obj from customtags%}
{%load get_month from customtags%}
<style>
    body{
        
background-image: url('static/bg1.jpg');
background-repeat: no-repeat;
background-size: cover;
background-attachment: fixed; 
align-items: center;

}
.class1{
    font-family: 'Montserrat', sans-serif;
    color: white;
    align-items: center;
    margin-top: 100px;
    margin-bottom: 100px;
    margin-left: 90px;
    margin-right: 90px;
}
.cl3{
    
    text-align: left;
}
select{
    width:100%;
    height: 40px;
    border: none;
  border-radius: 4px;
}
input{
    border: none;
  border-radius: 4px;
}
table,th,td{
    color: black;
    border: 1px solid black;
    padding: 10px;
    border-collapse: collapse;
}
tr:nth-child(even) {
  background-color: white;
}
tr:nth-child(odd) {
  background-color: lightgray;
}

</style>
<div class="class1">
    <div class="cl3">
        <h4><b>Name: {{name}}</h4></b>
        <h4><b>Registration number: {{regno}}</h4></b>
        <h4><b>Year : {{year}} </h4></b>
        <h4><b>Month : {%get_month month%} </h4></b>
        <h2 style="text-align: center;"><b>YOUR ATTENDANCE</h2></b>
    </div>
    <table>
        <tr>
            <th class="datecol">DATE</th>
            <th>ENTRY TIME</th>
            <th>ENTRY LATE BY (in minutes)</th>
            <th>EXIT TIME</th>
            <th>EXIT EARLY BY (in minutes)</th>
            <th>TOTAL WORKING HOURS</th>
            <th>ATTENDANCE</th>
        </tr>
        {%for i in list%}
        <tr><td class="datecol">{{i}}-{{month}}-{{year}}</td>
            <td>{%get_obj i month year regno "entryTime"%}</td>
            <td>{%get_obj i month year regno "entryLateorEarly"%}</td>
            <td>{%get_obj i month year regno "exitTime"%}</td>
            <td>{%get_obj i month year regno "exitLateorEarly"%}</td>
            <td>{%get_obj i month year regno "totWorkinghours"%}</td>
            <td>{%get_obj i month year regno "attendance"%}</td>
        </tr>
        {%endfor%}
    </table><br>
    <div class="w3-container w3-content w3-center w3-padding-64" style="max-width:800px">
        <h2 class="w3-wide">SUMMARY OF THE MONTH</h2>
        <h4 class="w3-wide"><b>Present : {{present}} / {{numdays}}</b></h4>
        <h4 class="w3-wide"><b>Half days : {{half}} / {{numdays}}</b></h4>
        <h4 class="w3-wide"><b>Absent : {{absent}} / {{numdays}}</b></h4>
         
      </div>

</div>

</div>
{%endblock%}